public/term.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Страница расшифровки или термина - Aboutbetting</title>
    <meta name="author" content="grishko.dev">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="App layout">
    <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <div class="col-12">
            <div class="header__body">
              <div class="header__logo"><a href="index.html"><img src="assets/images/logo.svg" alt=""></a></div>
              <div class="header__menu">
                <ul class="main-menu main-menu--header">
                  <li class="is-current"><a href="#">Рейтинги</a><span class="mobile-open-sub"></span>
                    <ul>
                      <li><a href="#ff">БК с высокими коэффициентами</a></li>
                      <li><a href="#ff1">Рейтинг легальных БК России</a></li>
                      <li><a href="#">Букмекерские конторы для лайв ставок</a></li>
                      <li><a href="#">Букмекерские конторы для вилок</a></li>
                      <li><a href="#">Актуальные ссылки букмекерских контор</a></li>
                      <li><a href="#">Рейтинг оффшорных букмекерских контор</a></li>
                      <li><a href="#">БК с мобильной версией сайта</a></li>
                      <li><a href="#">Рейтинг букмекеров</a></li>
                      <li><a href="#">Букмекеры с мобильными приложениями</a></li>
                      <li><a href="#">Букмекеры с бонусами</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Ставки</a><span class="mobile-open-sub"></span>
                    <ul>
                      <li><a href="#ff">БК с высокими коэффициентами</a></li>
                      <li><a href="#ff1">Рейтинг легальных БК России</a></li>
                      <li><a href="#">Букмекерские конторы для лайв ставок</a></li>
                      <li><a href="#">Букмекерские конторы для вилок</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Прогнозы</a><span class="mobile-open-sub"></span>
                    <ul>
                      <li><a href="#ff">БК с высокими коэффициентами</a></li>
                      <li><a href="#ff1">Рейтинг легальных БК России</a></li>
                      <li><a href="#">Букмекерские конторы для лайв ставок</a></li>
                      <li><a href="#">Букмекерские конторы для вилок</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Бонусы</a></li>
                  <li><a href="#">Школа</a><span class="mobile-open-sub"></span>
                    <ul>
                      <li><a href="#ff">Термины</a></li>
                      <li><a href="#ff1">Расшифровка ставок</a></li>
                      <li><a href="#">Обзоры сервисов</a></li>
                      <li><a href="#">Обзоры программ</a></li>
                      <li><a href="#">База знаний по букмекерам</a></li>
                      <li><a href="#">БК по городам / пунктам</a></li>
                      <li><a href="#">Стратегии</a></li>
                      <li><a href="#">Статьи</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Новости</a></li>
                </ul>
                <div class="search" id="search">
                  <div class="search__input">
                    <input id="search-input" type="text" placeholder="Поиск по сайту">
                    <button class="search__close">Найти</button>
                  </div>
                  <div class="search__button" id="search-button"></div>
                </div>
                <div class="hamburger" id="hamburger">
                  <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="breadcrumbs">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <ul class="breadcrumbs-list">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Расшифровка ставок</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <main class="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-xl-4">
              <aside class="sidebar">
                <div class="sidebar-item">
                  <div class="sidebar-item__title"><span>Рейтинг букмекеров</span><a class="more" href="#">Все</a></div>
                  <div class="sidebar-item__content">
                    <div class="sidebar-bookmaker-list">
                      <div class="sidebar-bookmaker">
                        <div class="sidebar-bookmaker__row"><img src="assets/images/content/1xbet-big-logo.png" alt=""><a class="btn btn--blue" href="#">Получить</a></div>
                        <div class="sidebar-bookmaker__row">
                          <div class="rating-stars rating-stars--5"><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span></div><span class="bookmaker-gift">4000 ₽</span>
                        </div>
                      </div>
                      <div class="sidebar-bookmaker">
                        <div class="sidebar-bookmaker__row"><img src="assets/images/content/leon-logo.png" alt=""><a class="btn btn--blue" href="#">Получить</a></div>
                        <div class="sidebar-bookmaker__row">
                          <div class="rating-stars rating-stars--4"><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span></div><span class="bookmaker-gift">5000 ₽</span>
                        </div>
                      </div>
                      <div class="sidebar-bookmaker">
                        <div class="sidebar-bookmaker__row"><img src="assets/images/content/pari-logo.png" alt=""><a class="btn btn--blue" href="#">Получить</a></div>
                        <div class="sidebar-bookmaker__row">
                          <div class="rating-stars rating-stars--5"><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span></div><span class="bookmaker-gift">Кэшбэк</span>
                        </div>
                      </div>
                      <div class="sidebar-bookmaker">
                        <div class="sidebar-bookmaker__row"><img src="assets/images/content/betcity-logo.png" alt=""><a class="btn btn--blue" href="#">Получить</a></div>
                        <div class="sidebar-bookmaker__row">
                          <div class="rating-stars rating-stars--3"><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span><span>
                              <svg class="icon icon-star ">
                                <use xlink:href="assets/images/icons/sprite-inline.svg#star"></use>
                              </svg></span></div><span class="bookmaker-gift">Кэшбэк</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sidebar-item">
                  <div class="sidebar-item__title"><span>Школа ставок</span><a class="more" href="#">Еще</a></div>
                  <div class="sidebar-item__content">
                    <div class="sidebar-academy"><a class="sidebar-academy__title" href="#">Стратегия «Танковой атаки» в сфере спортивного беттинга</a>
                      <div class="sidebar-academy__det"><span class="comments">11</span><span class="date">17.04.2020</span></div>
                    </div>
                    <div class="sidebar-academy"><a class="sidebar-academy__title" href="#">Ставки на фору – дополнительный шанс на победу</a>
                      <div class="sidebar-academy__det"><span class="comments">14</span><span class="date">16.04.2020</span></div>
                    </div>
                    <div class="sidebar-academy"><a class="sidebar-academy__title" href="#">Экспресс-ставки на спорт — что это, особенности и как ее сделать?</a>
                      <div class="sidebar-academy__det"><span class="comments">15</span><span class="date">15.04.2020</span></div>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
            <div class="col-sm-12 col-xl-8">
              <div class="term-detailed white-panel white-panel--detailed">
                <div class="term-detailed__image"><img src="assets/images/content/terms-bg.jpg" alt="">
                  <h1>Выиграет в обоих таймах - нет</h1>
                </div>
                <div class="term-detailed__text text-content"><strong>Что такое ставка «выиграет в обоих таймах – нет» в букмекерских конторах?</strong><br><br><strong>Необходимые условия при заключении пари «выиграет в обоих таймах – нет»?</strong><br><br><strong>Когда «выиграет в обоих таймах – нет» будет выигрышем, а когда проигрышем?</strong><br><br>
                  <p>Пари заключается в основном в футбольных матчах. Суть его в том, что выбранная вами команда не должна выигрывать в одном из временных отрезков. По итогу встречи неважно проиграет команда или сыграет вничью, главное чтобы в одном из периодов была победа или ничья, а во втором – проигрыш.</p>
                  <p>Игровые коэффициенты на данное событие достаточно средние и будут зависеть от встречающихся футбольных клубов. Большинство современных букмекерских контор принимают ставки на данный тип пари.</p>
                  <p>Простой пример. Выбираем английскую премьер-лигу и ставим на игру Манчестер Сити – Челси. Пари заключается именно на Манчестер Сити. Дожидаемся окончания встречи. Если один из таймов команда выиграла, а другой проиграла, то ставка будет считаться выигрышной, и вы получаете свое денежное вознаграждение.</p>
                  <div class="term-result term-result--win">
                    <div class="term-result__title">Выигрыш:</div>
                    <div class="term-result__text">Если команда, на которую вы поставили, в одном периоде проигрывает, а во втором играет вничью или побеждает, то вы выигрываете. Абсолютно не важно, кто победит и с каким счетом.</div>
                  </div>
                  <div class="term-result term-result--loss">
                    <div class="term-result__title">Проигрыш:</div>
                    <div class="term-result__text">Если команда проиграла, победила или сыграла вничью в оба отрезка времени, то пари считается проигрышным.</div>
                  </div>
                  <div class="term-result term-result--return">
                    <div class="term-result__title">Возврат:</div>
                    <div class="term-result__text">В случае отмены матча по любым причинам, денежная сумма полностью возвращается игроку на его счет.</div>
                  </div>
                </div>
              </div>
              <div class="main-panel main-panel--no-margin">
                <div class="main-panel__header">
                  <div class="main-panel__header-title">
                    <h2>Похожие расшифровки</h2>
                  </div>
                  <div class="main-panel__header-button"><a class="btn btn--yellow" href="#">все расшифровки ставок</a></div>
                </div>
                <div class="main-panel__grid">
                  <div class="similar-term">
                    <div class="similar-term__title"><a href="#">Результативная ничья</a></div>
                    <div class="similar-term__text">Очень интересный вид ставки. Здесь необходимо, чтобы игра завершилась с ничейным результатом, но главное условие, чтобы итоговый счет...</div>
                    <div class="similar-term__button"><a class="btn btn--blue-border" href="#">Читать дальше</a></div>
                  </div>
                  <div class="similar-term">
                    <div class="similar-term__title"><a href="#">Двойной шанс 1x 12 2x</a></div>
                    <div class="similar-term__text">Данная разновидность заключения пари подразумевает одновременную победу обеих команд. В этом случае вы можете минимально снизить свои риски...</div>
                    <div class="similar-term__button"><a class="btn btn--blue-border" href="#">Читать дальше</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__body">
                <div class="footer__left">
                  <div class="copy-info">Перепечатка материалов без согласования допустима при наличии dofollow-ссылки на страницу-источник</div>
                  <div class="copyright">© 2020  Aboutbetting. Все права защищены</div>
                  <div class="footer-links"><a href="#">Поддержка</a><a href="#">Конфиденциальность</a></div>
                  <div class="social-links"><a href="#">
                      <svg class="icon icon-vk ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#vk"></use>
                      </svg></a><a href="#">
                      <svg class="icon icon-instagram ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#instagram"></use>
                      </svg></a><a href="#">
                      <svg class="icon icon-facebook ">
                        <use xlink:href="assets/images/icons/sprite-inline.svg#facebook"></use>
                      </svg></a></div>
                </div>
                <div class="footer__right">
                  <div class="footer-menu">
                    <div class="footer-menu__title">Рейтинги</div>
                    <ul class="menu-list">
                      <li><a href="#">БК с высокими коэффициентами</a></li>
                      <li><a href="#">Рейтинг легальных БК России</a></li>
                      <li><a href="#">Букмекеры с бонусами</a></li>
                      <li><a href="#">Букмекерские конторы для вилок</a></li>
                      <li><a href="#">Зеркала букмекерских контор</a></li>
                    </ul>
                  </div>
                  <div class="footer-menu">
                    <div class="footer-menu__title">Ставки</div>
                    <ul class="menu-list">
                      <li><a href="#">На спорт</a></li>
                      <li><a href="#">На хоккей</a></li>
                      <li><a href="#">На теннис</a></li>
                      <li><a href="#">На баскетбол</a></li>
                      <li><a href="#">На киберспорт</a></li>
                    </ul>
                  </div>
                  <div class="footer-menu">
                    <div class="footer-menu__title">Букмекеры</div>
                    <ul class="menu-list">
                      <li><a href="#">1хБет</a></li>
                      <li><a href="#">Мелбет</a></li>
                      <li><a href="#">Лига ставок</a></li>
                      <li><a href="#">Пари матч</a></li>
                      <li><a href="#">Фаворит</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/js/main.min.js"></script>
  </body>
</html>

source/views/layout/main/term.pug
.term-detailed.white-panel.white-panel--detailed
    .term-detailed__image
        img(src="assets/images/content/terms-bg.jpg", alt="")
        h1 Выиграет в обоих таймах - нет
    .term-detailed__text.text-content
        strong Что такое ставка «выиграет в обоих таймах – нет» в букмекерских конторах?
        br
        br
        strong Необходимые условия при заключении пари «выиграет в обоих таймах – нет»?
        br
        br
        strong Когда «выиграет в обоих таймах – нет» будет выигрышем, а когда проигрышем?
        br
        br
        p Пари заключается в основном в футбольных матчах. Суть его в том, что выбранная вами команда не должна выигрывать в одном из временных отрезков. По итогу встречи неважно проиграет команда или сыграет вничью, главное чтобы в одном из периодов была победа или ничья, а во втором – проигрыш.
        p Игровые коэффициенты на данное событие достаточно средние и будут зависеть от встречающихся футбольных клубов. Большинство современных букмекерских контор принимают ставки на данный тип пари.
        p Простой пример. Выбираем английскую премьер-лигу и ставим на игру Манчестер Сити – Челси. Пари заключается именно на Манчестер Сити. Дожидаемся окончания встречи. Если один из таймов команда выиграла, а другой проиграла, то ставка будет считаться выигрышной, и вы получаете свое денежное вознаграждение.

        .term-result.term-result--win
            .term-result__title
                |Выигрыш:
            .term-result__text
                |Если команда, на которую вы поставили, в одном периоде проигрывает, а во втором играет вничью или побеждает, то вы выигрываете. Абсолютно не важно, кто победит и с каким счетом.
        .term-result.term-result--loss
            .term-result__title
                |Проигрыш:
            .term-result__text
                |Если команда проиграла, победила или сыграла вничью в оба отрезка времени, то пари считается проигрышным.
        .term-result.term-result--return
                .term-result__title
                    |Возврат:
                .term-result__text
                    |В случае отмены матча по любым причинам, денежная сумма полностью возвращается игроку на его счет.
        
